/* Define CSS variables for dark mode */
:root {
    --background-color: #121212;
    --text-color: #f1bb08;
    --primary-color: #e2970b00;
    --secondary-color: #856828;
    --navbar-bg-color: rgba(252, 135, 2, 0);
    --navbar-text-color: #046acf;
    --navbar-hover-text-color: #0056b3;
    --footer-bg-color: rgba(0, 0, 0, 0.5);
    --footer-text-color: #e6c300;
}

.custom-navbar {
    background-color: var(--navbar-bg-color);
    padding: 0 20px;
}

.custom-navbar .brand-logo,
.custom-navbar .sidenav-trigger,
.custom-navbar a {
    color: var(--navbar-text-color);
}

.custom-navbar .brand-logo:hover,
.custom-navbar .sidenav-trigger:hover,
.custom-navbar a:hover {
    color: var(--navbar-hover-text-color);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url('/static/images/vintage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensure the body fills the viewport height */
    overflow-x: hidden; /* Hide horizontal overflow */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: rgba(2, 0, 0, 0.705);
    padding: 20px;
    border-radius: 8px;
    max-width: 450px; /* Adjust this value as needed */
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
}

h1, h2, p {
    color: rgb(255, 123, 0);
}

.btn {
    background-color: blue;
}

footer.page-footer {
    background-color: rgba(211, 119, 15, 0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a.white-text {
    color: var(--text-color);
}

/* Adjust form label styles */
.input-field label {
    font-size: 1rem; /* Adjust font size as needed */
    color: rgb(241, 177, 0); /* Ensure readable color */
}
