body {
    font-family: 'Montserrat', sans-serif;
    color: #f0a606;
    background-color: rgba(0, 0, 0, 0.096);
    background-image: url('/static/images/flower.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-navbar {
    background-color: rgba(235, 176, 15, 0);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-navbar .brand-logo, .custom-navbar .sidenav-trigger {
    color: #ffd9007e !important;
}

.custom-navbar .brand-logo:hover {
    color: #fff700 !important;
}

.icon {
    font-size: 30px;
    color: rgb(253, 139, 9);
}

.featurette {
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.featurette img {
    width: 100%;
    border-radius: 10px;
}

.featurette:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.featurette-link {
    text-decoration: none;
    color: inherit;
}

.featurette-link:hover .featurette {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0);
}

.custom-footer {
    text-align: center;
    background-color: rgba(235, 176, 15, 0);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-footer a {
    color: #95e90e;
    text-decoration: none;
    margin: 0 ;
    font-size: 20px;
}

h1 {
    font-weight: 600;
    color: #d8ca0b;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 1.2em;
}

.container {
    margin-top: 50px;
}