/* Complete profile.css */

:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --card-color: #1e1e1e;
    --navbar-color: #333333; /* Darker color for the navbar */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-color);
    color: var(--text-color); /* Text color */
}

.card-panel {
    background-color: var(--card-color);
}

.items .collection-item {
    background-color: var(--card-color);
    color: var(--text-color);
}

.note {
    color: var(--text-color);
}