{% extends "materialize_base.html" %}

{% block body %}
<nav class="navbar custom-navbar">
    <div class="nav-wrapper">
        <a href="{{ url_for('main.home')}}" class="brand-logo"><i class="fas fa-home icon"></i> HomeKitch</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt icon"></i> Login</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt icon"></i> Login</a></li>
</ul>

<div class="container">
    <h1 class="center-align mt-5">Welcome to HomeKitch!</h1>
    <p class="center-align lead">If you are looking to up your Home kitchen or sell kitchenware, this is the place!</p>

    <div class="divider"></div>

    <div class="row featurette">
        <div class="col s12 m7">
            <h2 class="featurette-heading">Discover Amazing Kitchenware</h2>
            <p class="lead">Browse through a wide variety of kitchenware items. Whether you're looking for the latest
                gadgets or unique vintage items, you'll find everything you need to upgrade your kitchen.</p>
        </div>
        <div class="col s12 m5">
            <img src="/static/images/shelf.jpg" alt="Discover Amazing Kitchenware" class="responsive-img">
        </div>
    </div>

    <div class="divider"></div>

    <a href="{{ url_for('auth.signup') }}" class="featurette-link">
        <div class="row featurette">
            <div class="col s12 m7">
                <h2 class="featurette-heading">Join Our Community</h2>
                <p class="lead">Become part of a thriving community of kitchen enthusiasts. Share tips, find
                    inspiration, and connect with others who are passionate about kitchenware and cooking.</p>
            </div>
            <div class="col s12 m5">
                <img src="/static/images/community.png" alt="Join Our Community" class="responsive-img">
            </div>
        </div>
    </a>
</div>


{% endblock %}
