<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeKitch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <nav class="navbar custom-navbar">
        <div class="nav-wrapper">
            <a href="{{ url_for('main.home')}}" class="brand-logo"><i class="fas fa-home icon"></i> HomeKitch</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!-- Add user profile link here -->
                <li><a href="{{ url_for('main.in_user') }}"><i class="fas fa-user icon"></i> Profile</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <div class="container">
            <div class="section">
                <h1 class="center-align">We're thrilled to have you at HomeKitch</h1>
                <p class="center-align">Please log in to explore our services:</p>
            </div>

            <div class="row">
                <form class="col s12" action="{{ url_for('auth.login') }}" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" name="email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" name="password" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button type="submit" class="btn waves-effect waves-light">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="center-align">
                <p class="mt-3">New here? <a href="{{ url_for('auth.signup') }}">Sign up</a> for an account!</p>
            </div>
        </div>
    </div>

    <h2 class="center-align">At HomeKitch, we're dedicated to providing the best experience for our users.</h2>
    <p class="center-align">Whether you're a buyer or a seller, we're here to connect you with the perfect
        kitchenware solutions. If you have any questions or feedback, feel free to reach out to us.</p>

        <footer class="navbar custom-navbar">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h5 class="white-text">Support:</h5>
                        <a href="{{ url_for('main.contact') }}" class="white-text"><i class="fas fa-headset fa-2x"></i></a>
                    </div>
                    <div class="col s12 m6 l6">
                        <h5 class="white-text">Connect:</h5>
                        <ul class="social-icons">
                            <li><a class="white-text" href="https://github.com/Innocentem" target="_blank"><i class="fab fa-github"></i></a></li>
                            <li><a class="white-text" href="mailto:mwbzinno@gmail.com"><i class="fas fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
