{% extends "base2.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signedin.css') }}">
{% endblock %}
{% block body %}
<div class="welcome-container">
    <h1>Voilà!</h1>
    <p>You are logged in.</p>
    <div class="redirect-buttons">
        <a href="{{ url_for('main.sell') }}" class="button"><i class="fas fa-cart-arrow-down"></i> Sell</a>
        <a href="{{ url_for('main.buy') }}" class="button"><i class="fas fa-shopping-cart"></i> Buy</a>
    </div>
</div>
<center>
<footer class="footer">
    <div class="container">
        <p>HomeKitch</p>
        <div>
            <a href="https://github.com/Innocentem" target="_blank"><i class="fab fa-github"></i></a>
            <a href="mailto:mwbzinno@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</footer>
</center>
{% endblock %}

